<div>

  <div id="top" style="margin-bottom: 20px;">
    <h1 class="pull-left"> Top Questions</h1>

    <span class=" pull-right" style="margin-top: 23px;">
      <button routerLink="/posts" (click)="showsidebar()" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);" class="btn btn-success">Ask Question</button>
    </span>

    <div class="clearfix">
    </div>

    <hr>


  </div>

  <!--  <button type="button" class="btn btn-sm btn-success" name="button" [disabled]="blog.likedBy.indexOf(logedinuserid) > -1" (click)="likeBlog(blog._id)"> -->

  <div class="row" *ngFor="let blog of blogPosts">
    <div style="margin:0; padding: 0;">
      <div class="col-md-2">
        <span>
          <button id="like" type="button" class="btn btn-sm " name="button" [disabled]="blog.likedBy.indexOf(logedinuserid) > -1" (click)="likeBlog(blog._id)">
            <span class="glyphicon glyphicon-thumbs-up" style="font-weight:bold; font-size: 1.5em;">&nbsp;
            </span> {{ blog.likes }}
          </button>
          &nbsp;
          <br>
          <br>
          <button id="dislike" type="button" class="btn btn-sm " name="button" [disabled]="blog.dislikedBy.indexOf(logedinuserid) > -1"
            (click)="dislikeBlog(blog._id)">
            <span class="glyphicon glyphicon-thumbs-down" style="font-weight:bold; font-size: 1.5em;">&nbsp;</span> {{ blog.dislikes }} </button>
        </span>
        <br>
        <br>
      </div>

      <div class="col-md-10">
        <h4 style="color: #07C;" (click)="gotoPost(blog._id)" id="blog-link"> {{ blog.title }} </h4>
        <br>
        <span id="tagss" style="width: 70px; word-wrap: inherit; padding: 5px 10px;">
          {{ blog.tag.tag }}
        </span>
        <p class="clearfix pull-right" style="color: grey;">
          asked {{ blog.createdAt | amTimeAgo }} by {{ blog.author.name }}
        </p>
        <br>
      </div>
    </div>


  </div>

</div>


<style>
  #tagss {
    color: #39739d;
    background-color: #E1ECF4;
    border-color: #E1ECF4;
    height: 25px;
  }

  a {
    text-decoration: none;
  }

  .row div {
    /* display: grid;
  grid-auto-rows: minmax(50px, auto); */
    padding: 25px;

  }

  #blog-link:hover {
    cursor: pointer;
    outline: none;
    font-weight: bold;
  }

</style>
