<h1 class="page-header">Edit Blog

  <div class="pull-right">
    <!-- Go Back Button -->
    <button [disabled]="processing" type="button" name="button" class="btn btn-default" (click)="goBack()">Go Back</button>

  </div>

</h1>

<!-- Custom Success/Erro Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Edit Blog Form -->
<form (submit)="updateBlogSubmit()" *ngIf="!loading">
  <!-- Title Field -->
  <div class="form-group">
    <label for="title">Title</label>
    <!-- Title Input -->
    <input [disabled]="processing" type="text" name="title" placeholder="*Blog Title" class="form-control" [(ngModel)]="blog.title"
    />
  </div>

  <!-- Body Field -->
  <div class="form-group">
    <label for="content">Body</label>
    <!-- Body Input -->
    <textarea [disabled]="processing" name="content" rows="8" cols="80" [(ngModel)]="blog.content" class="form-control" placeholder="*Blog Body"></textarea>
  </div>

  <!-- Save Changes Button -->
  <button [disabled]="processing" type="submit" name="save" class="btn btn-primary">Save Changes</button>

</form>
