<ol class="nav-links--link" id="sidebarul" style="list-style-type: none;">
  <li style="outline: none; cursor: pointer;" routerLink="/" id="latest-threads-page">Latest Threads</li>
  <li style="outline: none; cursor: pointer;" routerLink="/tags" id="tags-page">Tags</li>
  <li style="outline: none; cursor: pointer;" routerLink="/users" id="users-page">Users</li>
</ol>


<button type="button" class="btn btn-primary" id="top">
  <span class="glyphicon glyphicon-chevron-up"></span>
</button>



<style>
  #top {
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: none;
    border-radius: 50%;
    border: none;
    color: white;
    z-index: 10;
    outline: none;
    background: #3B5998;
  }

</style>
